<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>DaoCloud Plus</title>
  <link rel="stylesheet" type="text/css" href="./node_modules/semantic-ui-css/semantic.css">
  <link rel="stylesheet" type="text/css" href="./vendor/icomoon/style.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
  <!-- <script src="./node_modules/jquery/dist/jquery.js"></script> -->
  <script>window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.js');</script>
  <script src="./node_modules/semantic-ui-css/semantic.js"></script>
  <script src="vendor/electron_boilerplate/context_menu.js"></script>
  <script src="vendor/electron_boilerplate/external_links.js"></script>
  <script src="./app.js"></script>

  <style type="text/css">
    body, html {
      margin: 0;
      font-size: 12px;
      font-family: Helvetica Neue, Lucida Grande, Segoe UI, Tahoma, sans;
      overflow: hidden !important;
      color: #333;
      background-color: rgba(0, 0, 0, 0);
    }
  </style>
  <script type="text/javascript">
    $(function () {
      $('.menu .item').tab();
    });
  </script>
</head>
<body id="tray">
<section>
  <header>
    <div class="ui equal width padded grid" onselectstart="return false;">
      <div class="right floated left aligned column">
        <a class="js-external-link" href="https://www.daocloud.io"><i class="large world icon"></i></a>
      </div>
      <div class="eight wide center aligned column">
        <h4 class="title" style="cursor:default;">DaoCloud+</h4>
      </div>
      <div class="left floated right aligned column">
        <a class="js-external-link" href="https://github.com/lijy91/daocloud-plus/blob/master/CHANGELOGS.md"><i class="star icon"></i>新版本</a>
      </div>
    </div>
  </header>
  <div class="ui basic segment" style="min-height:200px;margin: 0 -9px 0 -9px;">
    <!--  -->
    <div class="ui inverted dimmer" style="padding-top:60px;">
      <h2 class="ui header">
        <div class="content">
          <a href="#">配置 API Token 即可使用</a>
        </div>
      </h2>
    </div>
    <!-- 加载指示器 -->
    <div class="ui {{ loading ? 'active' : '' }} inverted dimmer">
      <div class="ui medium text loader"></div>
    </div>
    <!-- 代码构建 -->
    <div class="ui basic tab segment active" data-tab="build-flows">
      <div class="ui relaxed divided list" id="build-flows">
        <div class="item" v-for="flow in build_flows">
          <div class="right floated content">
            <a class="js-external-link" href="https://dashboard.daocloud.io/packages/{{flow.package_id}}">查看镜像</a>
          </div>
          <i class="large {{flow.src_provider}} middle aligned icon"></i>

          <div class="content">
            <a class="header js-external-link" href="https://dashboard.daocloud.io/build-flows/{{flow.id}}">{{flow.name}}</a>
            <div class="description">
              {{flow.created_at}} | {{flow.status}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 应用列表 -->
    <div class="ui basic tab segment" data-tab="apps">
      <div class="ui relaxed divided list" id="apps">
        <div class="item" v-for="app in apps">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <a class="header">{{app.name}} | {{app.release_name}}</a>
            <div class="description">{{app.last_operated_at}} | {{app.state}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="ui equal width padded grid" onselectstart="return false;">
      <div class="eight wide column">
        <div class="ui secondary menu">
          <a class="item active" data-tab="build-flows" v-on:click="tabChange('build-flows')">代码构建</a>
          <a class="item" data-tab="apps" v-on:click="tabChange('apps')">应用列表</a>
        </div>
      </div>
      <div class="column">

      </div>
      <div class="left floated right aligned column">
        <a><i class="large setting icon" v-on:click="preferences"></i></a>
      </div>
    </div>
  </footer>
</section>
</body>
</html>
